<ion-header>
  <ion-toolbar>
    <ion-title>science</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class=container>
  <ul>
 
      <p>1. Hay fever is an allergic reaction to the presence of the following in the air:</p>
      <input type="radio" name="question0" value="A"> Dust<br>  
      <input type="radio" name="question0" value="B"> Smoke<br> 
      <input type="radio" name="question0" value="C"> Pollen  <br>   
      <input type="radio" name="question0" value="D"> Moisture<br> 
    
 
      <p>2. The behavioural pattern of which one of the following organisms may upset when DOT is used as pesticide?</p>
      <input type="radio" name="question1" value="A"> Earthworm<br> 
      <input type="radio" name="question1" value="B"> Snake<br> 
      <input type="radio" name="question1" value="C"> Fish <br>       
      <input type="radio" name="question1" value="D"> Frog<br> 
    
 
      <p>3. What causes the 'mad-cow disease' (Jakob-Creutzfeldt disease)?</p>
      <input type="radio" name="question2" value="A"> Bacterium<br> 
      <input type="radio" name="question2" value="B"> Virus<br> 
      <input type="radio" name="question2" value="C"> Viroid<br> 
      <input type="radio" name="question2" value="D"> Prion<br> 
    
 
      <p>4. What is another name of Vitamin K? </p>
      <input type="radio" name="question3" value="A"> Nicotinic acid<br> 
      <input type="radio" name="question3" value="B"> Riboflavin<br> 
      <input type="radio" name="question3" value="C"> Thiamine<br> 
      <input type="radio" name="question3" value="D"> 2 Methyl-1, 4-naphthoquinone<br> 
    
 
      <p>Which of the following hormone controlled the blood pressure? </p>
      <input type="radio" name="question4" value="A"> Vasopressin<br> 
      <input type="radio" name="question4" value="B"> Oxytocin<br> 
      <input type="radio" name="question4" value="C"> Estrogens<br> 
      <input type="radio" name="question4" value="D"> Testosterone<br> 
      <ion-button float-right (click)="returnScore()" block>ViewResults</ion-button> 
  </ul>
</div>
</ion-content>
