<ion-header>
  <ion-toolbar>
    <ion-title>sport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="container">
  <ul>
  
      <p>1.	Which is the national sport of Canada? </p>
      <input type="radio" name="question0" value="A"> Lacrosse/Ice hockey<br>
      <input type="radio" name="question0" value="B">	Cricket<br>
      <input type="radio" name="question0" value="C">	Field hockey<br>
      <input type="radio" name="question0" value="D"> Volleyball<br>
    
   
      <p>
        2.	Archery is the national sport of which country?</p>
      <input type="radio" name="question1" value="A">	Afghanistan<br>
      <input type="radio" name="question1" value="B">	Bhutan<br>
      <input type="radio" name="question1" value="C">	Japan<br>
      <input type="radio" name="question1" value="D"> India<br>

   
      <p>3.	____________ has Cricket as its national sports.</p>
      <input type="radio" name="question2" value="A"> India<br>
      <input type="radio" name="question2" value="B">	Jamaica<br>
      <input type="radio" name="question2" value="C">	Sri Lanka<br>
      <input type="radio" name="question2" value="D">	United States<br>

   
      <p>4.	_____________ is the national sport of Turkey</p>
      <input type="radio" name="question3" value="A">	Wrestling<br>
      <input type="radio" name="question3" value="B">	Rugby union<br>
      <input type="radio" name="question3" value="C">	Golf<br>
      <input type="radio" name="question3" value="D">	Basketball<br>

   
      <p>5.	When was the Commonwealth game started?</p>
      <input type="radio" name="question4" value="A">	1930<br>
      <input type="radio" name="question4" value="B">	1934<br>
      <input type="radio" name="question4" value="C">1938<br>
      <input type="radio" name="question4" value="D">	1950<br>

  </ul>
  
  <ion-button float-right (click)="returnScore()"routerLink="/home"block>ViewResults</ion-button> 
  </div>
</ion-content>
