<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
    QUIZ APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <img src="assets/jj.jpg" alt="Snow" style="width:100%;height:100%;">
        <div class="centered">
          <h1>MAKING HISTORY IN THE QUIZ WORLD </h1>
          <p>Test your knowledge in the following categories below choose any category you want to attempt</p>
            <ion-button color='tertiary'routerLink="/sport">SPORT</ion-button>
            <ion-button color='tertiary'routerLink="/science">SCIENCE</ion-button>
            <ion-button color='tertiary'routerLink="/maths">MATHS</ion-button>
        </div>
      
      </div>

</ion-content>
  