<ion-header>
  <ion-toolbar>
    <ion-title>maths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
   
    <div class="container">
        <ul>
       
            <p>1. Which is greater than 4?</p>
            <input type="radio" name="question0" value="A"> 5,<br>  
            <input type="radio" name="question0" value="B">-5,<br> 
            <input type="radio" name="question0" value="C">-1/2,<br>   
            <input type="radio" name="question0" value="D">-25.<br> 
          
       
            <p>2. Which is the smallest?</p>
            <input type="radio" name="question1" value="A">-1,<br> 
            <input type="radio" name="question1" value="B">-1/2,<br> 
            <input type="radio" name="question1" value="C">0,<br>       
            <input type="radio" name="question1" value="D"> 3.<br> 
          
       
            <p>3. Combine terms: 12a + 26b -4b – 16a.</p>
            <input type="radio" name="question2" value="A"> 4a + 22b,<br> 
            <input type="radio" name="question2" value="B">-28a + 30b,<br> 
            <input type="radio" name="question2" value="C"> -4a + 22b, <br> 
            <input type="radio" name="question2" value="D">28a + 30b.<br> 
          
       
            <p>4.Simplify: (4 – 5) – (13 – 18 + 2).</p>
            <input type="radio" name="question3" value="A"> -1,<br> 
            <input type="radio" name="question3" value="B">–2,<br> 
            <input type="radio" name="question3" value="C">1,<br> 
            <input type="radio" name="question3" value="D">2.<br> 
          
       
            <p>What is |-26|? </p>
            <input type="radio" name="question4" value="A">-26,<br> 
            <input type="radio" name="question4" value="B">26,<br> 
            <input type="radio" name="question4" value="C">0,<br> 
            <input type="radio" name="question4" value="D">1<br> 
          
        </ul>
        </div>
        <ion-button float-right (click)="returnScore()" block>ViewResults</ion-button> 

</ion-content>
